body{
  background-color: #A9F1DF;
  text-align: center;
  margin: 0px;
}
.profile{
  text-align: center;
  line-height: 2;
  padding-top: 20px;
}
h1{
  font-size: 4.5em;
  font-family: 'Pacifico', cursive;
  color: #00A19D;
  margin: 0px auto 0px;
}
h2{
  font-family: 'Pacifico', cursive;
  color: #00A19D;
  padding-bottom: 0px;
  font-size: 2em;
}
h3{
    color: #00A19D;
}
hr{
 width: 10%;
 border: dotted #345B63 10px;
 border-top: 0px;
 margin: 50px auto 50px auto;
}
a{
  color: #002366;
  padding: 0px 40px;
  text-decoration: none;
  font-size: 30;
}
.info{
  width: 30%;
  margin: auto;
}
.skill-row{
  margin: 30px auto 30px auto;
  width: 50%;
  text-align: left;
  line-height: 2;
  padding-top: 0px;
}

.code{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.game{
  width: 25%;
  float: right;
  margin-left: 30px;
}
.contact-me{
  width: 50%;
  margin: auto auto 50px auto;

}
.bottom-container{
  background-color: #3D84B8;
  margin: 10px 0px 0px ;
  padding: 30px 0px 20px;
}
.btn {
  background: #0d9eff;
  background-image: -webkit-linear-gradient(top, #0d9eff, #0a6aa6);
  background-image: -moz-linear-gradient(top, #0d9eff, #0a6aa6);
  background-image: -ms-linear-gradient(top, #0d9eff, #0a6aa6);
  background-image: -o-linear-gradient(top, #0d9eff, #0a6aa6);
  background-image: linear-gradient(to bottom, #0d9eff, #0a6aa6);
  -webkit-border-radius: 19;
  -moz-border-radius: 19;
  border-radius: 19px;
  text-shadow: 4px 1px 0px #666666;
  font-family: Georgia;
  color: #ffffff;
  font-size: 28px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3c98fa;
  background-image: -webkit-linear-gradient(top, #3c98fa, #34b8d9);
  background-image: -moz-linear-gradient(top, #3c98fa, #34b8d9);
  background-image: -ms-linear-gradient(top, #3c98fa, #34b8d9);
  background-image: -o-linear-gradient(top, #3c98fa, #34b8d9);
  background-image: linear-gradient(to bottom, #3c98fa, #34b8d9);
  text-decoration: none;
}
